/* .nav-link {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
    Font-family: Rockwell !important;
    font-style: normal;
    font-weight: lighter;
}

.navbar {
    padding: 30px 30px;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #ffffff;
}

.nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
}

.nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
} */