/* 
.project {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.project h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.project img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
  border-radius: 8px;
}

.project a {
  margin-right: 10px;
  color: #007BFF;
  text-decoration: none;
}


.timeline {
  position: relative;
  max-width: 600px;
  margin: 40px auto;
}

.timeline-point {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #ddd;
}

.timeline > div {
  position: relative;
  margin-bottom: 30px;
}

.timeline > div::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 10px;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  background-color: #007BFF;
  border-radius: 50%;
}

.carousel .slide {
  display: flex;
  align-items: center;
  justify-content: center;
}  */
